@model CXMDIRECT.Models.Response<dynamic>
@{
    ViewBag.Title = "Test page";
}

<p>Get node</p>
@using (Html.BeginForm("GetTest", "TreeTests", FormMethod.Post))
{
    <label>Id: </label>
    <input type="number" name="id" />
    <input type="submit" value="Submit" />
}

<p>Add node</p>
@using (Html.BeginForm("AddTest", "TreeTests", FormMethod.Post))
{
    <label>Parent Id: </label>
    <input type="number" name="parrentId" />
    <label>Name: </label>
    <input type="text" name="name" />
    <label>Description: </label>
    <input type="text" name="description" />
    <input type="submit" value="Submit" />
}

<p>Edit node</p>
@using (Html.BeginForm("EditTest", "TreeTests", FormMethod.Post))
{
    <label>Id: </label>
    <input type="number" name="id" />
    <label>Parent Id: </label>
    <input type="number" name="parrentId" />
    <label>Name: </label>
    <input type="text" name="name" />
    <label>Description: </label>
    <input type="submit" value="Submit" />
}

<p>Delete node</p>
@using (Html.BeginForm("DeleteTest", "TreeTests", FormMethod.Post))
{
    <label>Id: </label>
    <input type="number" name="id" />
    <input type="submit" value="Submit" />
}

@if (Model != null && Model.Data.GetType() != typeof(CXMDIRECT.Models.Error))
{
    <h3>Results</h3>
    <table>
        <tr>
            <td>@Model.Type</td>
            <td>@Model.Id</td>
            <td>Data: 
                @if (Model.Data.GetType() == typeof(CXMDIRECT.Models.Node))
                {
                    <a>Id: @Model.Data.Id</a>
                    <a>Parent Id: @Model.Data.ParentId</a>
                    <a>Name: @Model.Data.Name</a>
                    <a>Description: @Model.Data.Description</a>
                }
                @if (Model.Data.GetType() == typeof(CXMDIRECT.Models.ExceptionData))
                {
                    <a>@Model.Data.Message</a>
                }
            </td>
        </tr>
    </table>
}

@if (Model != null && Model.Data.GetType() == typeof(CXMDIRECT.Models.Error))
{
    <p style="color:red;">Error: @Model.Data.Message</p>
}